# Ignore the default output file `a.out` (in any folder)
**/a.out

# Ignore any executable without an extension (in any folder)
**/[!.]*

# Ignore all object files (in any folder)
**/*.o

# Optionally, ignore any core dumps (in any folder)
**/core

# Remove vscode config
.vscode
